src/test/resources/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:loop="http://www.mulesoft.org/schema/mule/loop"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/loop http://www.mulesoft.org/schema/mule/loop/current/mule-loop.xsd">

	<flow name="empty-for">
		<loop:for end="0">
			<set-payload value="foo"/>
		</loop:for>
	</flow>
	
	<flow name="loop-1000-counter">
		<logger level="INFO" message='before loop' category="loop-1000-counter" />
		<loop:for end="1000">
			<logger level="DEBUG" message='#[payload]' category="loop-1000-counter" />
			<set-payload value="foo"/>
		</loop:for>
		<logger level="INFO" message='after loop' category="loop-1000-counter" />
	</flow>
	
	<flow name="loop-1000-payload">
		<set-payload value="#[42]"/>
		<loop:for end="1000" counterAsPayload="false">
			<logger level="DEBUG" message='#[payload]' category="loop-1000-payload" />
			<set-payload value="#[payload + 2]"/>
		</loop:for>
	</flow>
	
	<flow name="for-each">
		<loop:for-each>
			<logger level="DEBUG" message='#[payload]' category="for-each" />
			<set-payload value="#[payload * payload]"/>
		</loop:for-each>
	</flow>
	
</mule>
