src/test/resources/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:loop="http://www.mulesoft.org/schema/mule/loop"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/loop http://www.mulesoft.org/schema/mule/loop/current/mule-loop.xsd">

	<flow name="payload-immediately-not-empty">
		<loop:repeat-until-payload-not-empty>
			<set-payload value="foo"/>
		</loop:repeat-until-payload-not-empty>
	</flow>

	<flow name="repeat-1000-iterations">
		<java:new class="de.codecentric.mule.loop.BooleanProvider" constructor="BooleanProvider(int)" target="provider">
			<java:args ><![CDATA[#[{
	size: 1000
}]]]></java:args>
		</java:new>
		<loop:repeat-until-payload-not-empty>
			<java:invoke instance="#[vars.provider]" class="de.codecentric.mule.loop.BooleanProvider" method="fetch()">
				<java:args ><![CDATA[#[{}]]]></java:args>
			</java:invoke>
			<choice>
				<when expression="#[payload]">
					<set-payload value=""/>
				</when>
				<otherwise>
					<set-payload value="done"/>
				</otherwise>
			</choice>
		</loop:repeat-until-payload-not-empty>
	</flow>

	<flow name="repeat-empty-by-null">
		<java:new class="de.codecentric.mule.loop.BooleanProvider" constructor="BooleanProvider(int)" target="provider">
			<java:args ><![CDATA[#[{
	size: 10
}]]]></java:args>
		</java:new>
		<loop:repeat-until-payload-not-empty>
			<java:invoke instance="#[vars.provider]" class="de.codecentric.mule.loop.BooleanProvider" method="fetch()">
				<java:args ><![CDATA[#[{}]]]></java:args>
			</java:invoke>
			<choice>
				<when expression="#[payload]">
					<logger level="DEBUG" message='in repeat loop' category="repeat-empty-by-null" />
					<set-payload value="#[null]"/>
				</when>
				<otherwise>
					<set-payload value="done"/>
				</otherwise>
			</choice>
		</loop:repeat-until-payload-not-empty>
	</flow>

	<flow name="repeat-empty-by-array">
		<java:new class="de.codecentric.mule.loop.BooleanProvider" constructor="BooleanProvider(int)" target="provider">
			<java:args ><![CDATA[#[{
	size: 10
}]]]></java:args>
		</java:new>
		<loop:repeat-until-payload-not-empty>
			<java:invoke instance="#[vars.provider]" class="de.codecentric.mule.loop.BooleanProvider" method="fetch()">
				<java:args ><![CDATA[#[{}]]]></java:args>
			</java:invoke>
			<choice>
				<when expression="#[payload]">
					<logger level="DEBUG" message='in repeat loop' category="repeat-empty-by-array" />
					<set-payload value="#[[]]"/>
				</when>
				<otherwise>
					<set-payload value="#[[42]]"/>
				</otherwise>
			</choice>
		</loop:repeat-until-payload-not-empty>
	</flow>

	<flow name="repeat-empty-by-object">
		<java:new class="de.codecentric.mule.loop.BooleanProvider" constructor="BooleanProvider(int)" target="provider">
			<java:args ><![CDATA[#[{
	size: 10
}]]]></java:args>
		</java:new>
		<loop:repeat-until-payload-not-empty>
			<java:invoke instance="#[vars.provider]" class="de.codecentric.mule.loop.BooleanProvider" method="fetch()">
				<java:args ><![CDATA[#[{}]]]></java:args>
			</java:invoke>
			<choice>
				<when expression="#[payload]">
					<logger level="DEBUG" message='in repeat loop' category="repeat-empty-by-object" />
					<set-payload value="#[{}]"/>
				</when>
				<otherwise>
					<set-payload value="#[{foo: 'bar'}]"/>
				</otherwise>
			</choice>
		</loop:repeat-until-payload-not-empty>
	</flow>

	<flow name="repeat-error">
		<loop:repeat-until-payload-not-empty>
			<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="nothing to repeat..." />
		</loop:repeat-until-payload-not-empty>
	</flow>

	<flow name="empty-for">
		<loop:for end="0">
			<set-payload value="foo"/>
		</loop:for>
	</flow>
	
	<flow name="loop-1000-counter">
		<logger level="INFO" message='before loop' category="loop-1000-counter" />
		<loop:for end="1000">
			<set-payload value="foo"/>
		</loop:for>
		<logger level="INFO" message='after loop' category="loop-1000-counter" />
	</flow>
	
	<flow name="loop-1000-payload">
		<set-payload value="#[42]"/>
		<loop:for end="1000" counterAsPayload="false">
			<set-payload value="#[payload + 2]"/>
		</loop:for>
	</flow>
	
	<flow name="loop-1-payload">
		<set-payload value="#[42]"/>
		<loop:for end="1" counterAsPayload="false">
			<set-payload value="#[payload + 2]"/>
		</loop:for>
	</flow>
	
	<flow name="loop-counter-error-in-first-iteration">
		<loop:for end="1000">
			<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="nothing to describe..." />
		</loop:for>
	</flow>

	<flow name="loop-counter-error-in-second-iteration">
		<loop:for end="1000">
			<choice>
				<when expression="#[payload == 1]">
					<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="#['counter: ' ++ payload]" />
				</when>
				<otherwise >
					<logger level="DEBUG" message='#[payload]' category="loop-counter-error-in-second-iteration" />
				</otherwise>
			</choice>
		</loop:for>
	</flow>

	<flow name="loop-error-in-first-iteration">
		<loop:for end="1000" counterAsPayload="false">
			<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="nothing to describe..." />
		</loop:for>
	</flow>

	<flow name="loop-error-in-second-iteration">
		<set-payload value="#[0]" />
		<loop:for end="1000" counterAsPayload="false">
			<choice>
				<when expression="#[payload == 1]">
					<logger level="INFO" message='xxx raise' category="loop-error-in-second-iteration" />
					<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="nothing to describe..." />
				</when>
				<otherwise >
					<logger level="INFO" message='#["xxx increase counter, counter: " ++ (payload as String)]' category="loop-error-in-second-iteration" />
					<set-payload value="#[payload + 1]" />
				</otherwise>
			</choice>
		</loop:for>
	</flow>

	<flow name="for-each">
		<loop:for-each>
			<logger level="DEBUG" message='#[payload]' category="for-each" />
			<set-payload value="#[payload * payload]"/>
		</loop:for-each>
	</flow>
	
	<flow name="for-each-with-error">
		<loop:for-each>
			<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="nothing to describe..." />
		</loop:for-each>
	</flow>
	
	<flow name="for-each-streaming">
		<loop:for-each streaming="true">
			<logger level="DEBUG" message='#[payload]' category="for-each" />
			<set-payload value="#[payload * payload]"/>
		</loop:for-each>
	</flow>
	
	<flow name="for-each-streaming-with-error">
		<loop:for-each streaming="true">
			<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="nothing to describe..." />
		</loop:for-each>
	</flow>
	
	<flow name="while-countdown" >
		<set-payload value="#[10]" />
		<loop:while initialPayload="#[payload]">
			<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;{	condition: payload &gt; 0,	nextPayload: payload - 1 }]"/>
		</loop:while>
	</flow>

	<flow name="while-countdown-and-collect" >
		<set-payload value="#[10]" />
		<loop:while initialPayload="#[payload]" resultPayload="COLLECTION_OF_ALL_PAYLOADS_WITHIN">
			<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;{	condition: payload &gt; 0,	nextPayload: payload - 1, addToCollection: payload }]"/>
		</loop:while>
	</flow>

	<flow name="while-payload-null" >
		<set-payload value="#[10]" />
		<loop:while initialPayload="#[payload]" resultPayload="COLLECTION_OF_ALL_PAYLOADS_WITHIN">
			<set-payload value="#[null]"/>
		</loop:while>
	</flow>
	
	<flow name="while-payload-array" >
		<set-payload value="#[10]" />
		<loop:while initialPayload="#[payload]" resultPayload="COLLECTION_OF_ALL_PAYLOADS_WITHIN">
			<set-payload value="#[[42]]"/>
		</loop:while>
	</flow>

	<flow name="while-countdown-payload-before" >
		<set-payload value="#[5]" />
		<loop:while initialPayload="#[payload]" resultPayload="PAYLOAD_BEFORE_LOOP">
			<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;{	condition: payload &gt; 0,	nextPayload: payload - 1 }]"/>
		</loop:while>
	</flow>

	<flow name="while-countdown-and-iterate" >
		<set-payload value="#[10]" />
		<loop:while initialPayload="#[payload]" resultPayload="ITERATOR_OF_ALL_PAYLOADS_WITHIN">
			<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;{	condition: payload &gt; 0,	nextPayload: payload - 1, addToCollection: payload }]"/>
		</loop:while>
	</flow>

	<flow name="while-streaming-error" >
		<set-payload value="#[10]" />
		<loop:while initialPayload="#[payload]" resultPayload="ITERATOR_OF_ALL_PAYLOADS_WITHIN">
			<raise-error type="MY_NAMESPACE:MY_IDENTIFIER" description="Bumm!" />
		</loop:while>
	</flow>

</mule>
